body {
    background-image:url("/img/bg.jpg");
    background-size:cover;
    color:#fff;
    background-position: 40% 40%;
}

#nav ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#nav ul  li {
    margin:0px;
}


.email-item {
    font-size:1.5em;
    border-bottom:1px solid rgb(222, 222, 222);
    padding:1.5em;
}

.email-item:hover {
    background:#4178BE;
}

.email-item-selected {
    background:#4178BE;
}

.top {
    height:10vh;
    border-bottom:1px solid rgb(222, 222, 222);
}

.player-panel {
    border-right:1px solid rgb(222, 222, 222);
    padding:0px !important;
    margin:0px;
    height:90vh;
}

.pure-menu-item {
    border-bottom:1px solid rgb(222,222,222);
    border-top:1px solid rgb(222,222,222);
    margin-top:-1px !important;
    border-right:1px solid;
    margin-right:-1px !important;
    padding-top:1.5em;
    padding-bottom:1.5em;
    padding-left:.5em;
    padding-right:.5em;
}

.effect-edit {
    background-color:#152935;
    color:#fff;
    border-color:#4178BE;
    margin-left: 10px;
}

.effect-edit-spacing {
    margin-top:-8px;
}

.effect-edit:hover {
    background-color:#1D3649;
    border-color:#4178BE;
    color:#fff;
}

.vrange {
    margin-top: 50px;
    width:100px !important;
    height:100px;
    margin: 1.5em auto;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}

.vmulti {
    margin-left: -25px;
}

#playPause {
    font-size:2em;
}

#amplitude {
    background-color:#fff;
    position:absolute;
    width:100%;
    bottom:0px;
    left:0px;
}

#list {
      background: url(/img/corra_final.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: 20% 20%;
      background-size:50% auto;
      height:90vh;
}

.strip {
    height: 94px;
    background-color:#000;
    border-bottom:1px solid rgba(0,0,0,0);
}

.strip-bass {
    background-color:rgba(38, 74, 96, 0.5);
}

.strip-1 {
    background-color:rgba(65, 120, 190, 0.5);
}

.strip-2 {
    background-color:rgba(124, 199, 255, 0.5);
}
#main {
    padding:0px;
}

.playhead-1 {
    position:absolute;
    top:0px;
    height:94px;
    width:8px;
    background-color:#fff;
}

.playhead-2 {
    position:absolute;
    top:94px;
    height:94px;
    width:8px;
    background-color:#fff;
}

.playhead-3 {
    position:absolute;
    top:188px;
    height:94px;
    width:8px;
    background-color:#fff;
}

.selection {
    position:absolute;
    height:94px;
    background-color:rgba(255,255,255,0.3);
    z-index:1000;
    width:30px;
}

#main img {
    width:100%;
}
