body {
    background-color:rgb(38, 74, 96);
    color:#fff;
}

#nav ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#nav ul  li {
    margin:0px;
}


.email-item {
    font-size:1.5em;
    border-bottom:1px solid rgb(222, 222, 222);
    padding:1.5em;
}

.email-item:hover {
    background:#4178BE;
}

.email-item-selected {
    background:#4178BE;
}

.top {
    height:10vh;
    border-bottom:1px solid rgb(222, 222, 222);
}

.player-panel {
    border-right:1px solid rgb(222, 222, 222);
    padding:0px !important;
    margin:0px;
    height:90vh;
}

.pure-menu-item {
    border-bottom:1px solid rgb(222,222,222);
    border-top:1px solid rgb(222,222,222);
    margin-top:-1px !important;
    border-right:1px solid;
    margin-right:-1px !important;
    padding-top:1.5em;
    padding-bottom:1.5em;
    padding-left:.5em;
    padding-right:.5em;
}

.effect-edit {
    background-color:#152935;
    color:#fff;
    border-color:#4178BE;
    margin-left: 10px;
}

.effect-edit-spacing {
    margin-top:-8px;
}

.effect-edit:hover {
    background-color:#1D3649;
    border-color:#4178BE;
    color:#fff;
}

.vrange {
    margin-top: 50px;
    width:100px !important;
    height:100px;
    margin: 1.5em auto;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}

.vmulti {
    margin-left: -25px;
}

#playPause {
    font-size:2em;
}

#amplitude {
    background-color:#fff;
    position:absolute;
    width:100%;
    bottom:0px;
    left:0px;
}
